openapi: 3.0.2
info:
  title: Monite internal Partner API soem tyypo
  version: '2022-07-27'
  description: The Monite Internal REST API, for Monite partners to integrate with our solution tyypoo.
  termsOfService: https://monite.com/terms/
  contact:
    name: Monite team
    url: https://monite.com/about/
    email: hello@monite.com
servers:
  - url: http://api.sandbox.monite.com/v1
    description: Sandbox environment
  - url: https://api.monite.com/v1
    description: Production environment
tags:
  - name: Authentication
  - name: Entities and users
  - name: Payables
  - name: Receivables
  - name: Payments
  - name: Mail
  - name: Events
paths:
  /internal_accounts:
    post:
      tags:
        - Payments
      summary: Create Onboarding Account tyypor
      operationId: create_onboarding_account_v1_accounts_post
      parameters:
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingPayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLinkResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: Biz logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '416':
          description: Requested Range Not Satisfiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
  /accountss\{account_id}:
    get:
      tags:
        - Payments
      summary: Get Account By Id
      operationId: get_account_by_id_v1_accounts__account_id__get
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: Biz logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '416':
          description: Requested Range Not Satisfiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
    delete:
      tags:
        - Payments
      summary: Delete Account
      operationId: delete_account_v1_accounts__account_id__delete
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: Biz logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '416':
          description: Requested Range Not Satisfiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
    patch:
      tags:
        - Payments
      summary: Update Account
      operationId: update_account_v1_accounts__account_id__patch
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccount'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: Biz logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '416':
          description: Requested Range Not Satisfiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
  /APPROVAls:
    get:
      tags:
        - Payables
      summary: Get All Pending Approvals
      description: Get all pending approvals
      operationId: get_all_pending_approvals_approvals_get
      parameters:
        - description: 'Sort order: `asc` (ascending) or `desc` (descending).'
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/OrderEnum'
            description: 'Sort order: `asc` (ascending) or `desc` (descending).'
            default: asc
          name: order
          in: query
        - description: The maximum number of results to return per page.
          required: false
          schema:
            title: Limit
            maximum: 100
            minimum: 1
            type: integer
            description: The maximum number of results to return per page.
            default: 100
          name: limit
          in: query
        - description: The maximum number of results to return per page.
          required: false
          schema:
            title: Limit
            maximum: 100
            minimum: 1
            type: integer
            description: The maximum number of results to return per page.
            default: 100
          name: internal_id
          in: query
        - description: The pagination token to access the next or previous page of results. If `pagination_token` is specified, the `sort`, `order`, and filtering parameters are ignored.
          required: false
          schema:
            title: Pagination Token
            type: string
            description: The pagination token to access the next or previous page of results. If `pagination_token` is specified, the `sort`, `order`, and filtering parameters are ignored.
          name: pagination_token
          in: query
        - description: The field by which the results will be sorted.
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/api__v1__approvals__pagination__CursorFields'
            description: The field by which the results will be sorted.
          name: sort
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/ObjectType'
          name: object_type
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/ApprovalStatusEnum'
          name: status
          in: query
        - required: false
          schema:
            title: Created At
            type: string
            format: date-time
          name: created_at
          in: query
        - required: false
          schema:
            title: Created At  Gt
            type: string
            format: date-time
          name: created_at__gt
          in: query
        - required: false
          schema:
            title: Created At  Lt
            type: string
            format: date-time
          name: created_at__lt
          in: query
        - required: false
          schema:
            title: Created At  Gte
            type: string
            format: date-time
          name: created_at__gte
          in: query
        - required: false
          schema:
            title: Created At  Lte
            type: string
            format: date-time
          name: created_at__lte
          in: query
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedApprovalResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /approvals/{approval_id}:
    get:
      tags:
        - Payables
      summary: Get Approval By Id
      description: Get approval details by ID
      operationId: get_approval_by_id_approvals__approval_id__get
      parameters:
        - required: true
          schema:
            title: Approval Id
            type: string
            format: uuid
          name: approval_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /approvals/{approval_id}/approve:
    post:
      tags:
        - Payables
      summary: Approve
      description: Approve approval
      operationId: approve_approvals__approval_id__approve_post
      parameters:
        - required: true
          schema:
            title: Approval Id
            type: string
            format: uuid
          name: approval_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /approvals/{approval_id}/reject:
    post:
      tags:
        - Payables
      summary: Reject
      description: Reject approval
      operationId: reject_approvals__approval_id__reject_post
      parameters:
        - required: true
          schema:
            title: Approval Id
            type: string
            format: uuid
          name: approval_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /auth//revoke_private:
    post:
      tags:
        - Authentication
      summary: Revoke Token
      operationId: revoke_token_v1_auth_revoke_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeTokenPayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: Biz logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '416':
          description: Requested Range Not Satisfiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
  /auth/token:
    post:
      tags:
        - Authentication
      summary: Obtain New Token
      operationId: obtain_new_token_v1_auth_token_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObtainTokenPayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
  /banky_accounts:
    get:
      tags:
        - Entities and users
      summary: Get Entity Bank Accounts
      description: Get entity bank accounts
      operationId: get_entity_bank_accounts_v1_bank_accounts_get
      parameters:
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityBankAccountPaginationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    post:
      tags:
        - Entities and users
      summary: Create Entity Bank Account
      description: Create a new entity bank account
      operationId: create_entity_bank_account_v1_bank_accounts_post
      parameters:
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityBankAccountRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityBankAccountResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /bank_accounts/{entity_bank_account_id}:
    get:
      tags:
        - Entities and users
      summary: Get Entity Bank Account
      description: Get entity bank account
      operationId: get_entity_bank_account_v1_bank_accounts__entity_bank_account_id__get
      parameters:
        - required: true
          schema:
            title: Entity Bank Account Id
            type: string
            format: uuid
          name: entity_bank_account_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityBankAccountResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    delete:
      tags:
        - Entities and users
      summary: Delete Entity Bank Account
      description: Delete entity bank account
      operationId: delete_entity_bank_account_v1_bank_accounts__entity_bank_account_id__delete
      parameters:
        - required: true
          schema:
            title: Entity Bank Account Id
            type: string
            format: uuid
          name: entity_bank_account_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Delete Entity Bank Account V1 Bank Accounts  Entity Bank Account Id  Delete
                type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    patch:
      tags:
        - Entities and users
      summary: Update Entity Bank Account
      description: Update entity bank account
      operationId: update_entity_bank_account_v1_bank_accounts__entity_bank_account_id__patch
      parameters:
        - required: true
          schema:
            title: Entity Bank Account Id
            type: string
            format: uuid
          name: entity_bank_account_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityBankAccountRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityBankAccountResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /api/comments/{comment_id}:
    get:
      tags:
        - Payables
      summary: Get Comment By Id
      description: Get comment
      operationId: get_comment_by_id_comments__comment_id__get
      parameters:
        - required: true
          schema:
            title: Comment Id
            type: string
            format: uuid
          name: comment_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: 'Possible responses: `Action {action} for {object_type} not allowed`,`Action for {object_type} at permissions not found: {action}`,`Object type at permissions not found: {object_type}``{operation}: status has not changed`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    patch:
      tags:
        - Payables
      summary: Update Comment By Id
      description: Update comment
      operationId: update_comment_by_id_comments__comment_id__patch
      parameters:
        - required: true
          schema:
            title: Comment Id
            type: string
            format: uuid
          name: comment_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateCommentSchema'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: 'Possible responses: `Action {action} for {object_type} not allowed`,`Action for {object_type} at permissions not found: {action}`,`Object type at permissions not found: {object_type}``{operation}: status has not changed`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /comments/{object_type}/{object_id}:
    get:
      tags:
        - Payables
      summary: Get Comments
      description: Get comments
      operationId: get_comments_comments__object_type___object_id__get
      parameters:
        - required: true
          schema:
            $ref: '#/components/schemas/ObjectTypeAvailableComment'
          name: object_type
          in: path
        - required: true
          schema:
            title: Object Id
            type: string
            format: uuid
          name: object_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Comments Comments  Object Type   Object Id  Get
                type: array
                items:
                  $ref: '#/components/schemas/CommentSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: 'Possible responses: `Action {action} for {object_type} not allowed`,`Action for {object_type} at permissions not found: {action}`,`Object type at permissions not found: {object_type}``{operation}: status has not changed`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    post:
      tags:
        - Payables
      summary: Create New Comment
      description: Create new comment
      operationId: create_new_comment_comments__object_type___object_id__post
      parameters:
        - required: true
          schema:
            $ref: '#/components/schemas/ObjectTypeAvailableComment'
          name: object_type
          in: path
        - required: true
          schema:
            title: Object Id
            type: string
            format: uuid
          name: object_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateCommentSchema'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: 'Possible responses: `Could not notify groups: {not_valid_recipients}. Recipients dont exists`,`groups with ids: {'',''.join(missed_ids)} dont exists`,`Could not notify groups: {missed_groups}. Only {available_groups} are available`,`Action {action} for {object_type} not allowed`,`Action for {object_type} at permissions not found: {action}`,`Object type at permissions not found: {object_type}``{operation}: status has not changed`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /commercial_conditions:
    get:
      tags:
        - Receivables
      summary: Get All Commercial Conditions
      description: get all commercial conditions
      operationId: get_all_commercial_conditions_v1_commercial_conditions_get
      parameters:
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateCommentSchema'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get All Commercial Conditions V1 Commercial Conditions Get
                type: array
                items:
                  $ref: '#/components/schemas/CommercialConditionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    post:
      tags:
        - Receivables
      summary: Add Commercial Condition
      description: create commercial condition
      operationId: add_commercial_condition_v1_commercial_conditions_post
      parameters:
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommercialConditionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommercialConditionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /get_commercial_conditions/{commercial_condition_id}:
    get:
      tags:
        - Receivables
      summary: Get Commercial Condition
      description: get commercial condition
      operationId: get_commercial_condition_v1_commercial_conditions__commercial_condition_id__get
      parameters:
        - required: true
          schema:
            title: Commercial Condition Id
            type: string
            format: uuid
          name: commercial_condition_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommercialConditionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    put:
      tags:
        - Receivables
      summary: Update Commercial Condition
      description: update commercial condition
      operationId: update_commercial_condition_v1_commercial_conditions__commercial_condition_id__put
      parameters:
        - required: true
          schema:
            title: Commercial Condition Id
            type: string
            format: uuid
          name: commercial_condition_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommercialConditionUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommercialConditionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    delete:
      description: update commercial condition
      operationId: delete_commercial_condition_v1_commercial_conditions__commercial_condition_id__delete
      parameters:
        - required: true
          schema:
            title: Commercial Condition Id
            type: string
            format: uuid
          name: commercial_condition_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: MoniteEntityId
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateCommentSchema'
        required: true
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /contents.xml:
    get:
      tags:
        - Mail
      summary: Get All
      description: Get all custom contents
      operationId: get_all_v1_contents_get
      parameters:
        - description: Document type of content
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/DocumentObjectTypeEnum'
            description: Document type of content
          name: document_type
          in: query
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid4
          example: a4e9a453-70f4-48b6-ac83-47350e7b993c
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get All V1 Contents Get
                type: array
                items:
                  $ref: '#/components/schemas/ContentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: Biz logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '416':
          description: Requested Range Not Satisfiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    post:
      tags:
        - Mail
      summary: Create
      description: Create custom content
      operationId: create_v1_contents_post
      parameters:
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: a4e9a453-70f4-48b6-ac83-47350e7b993c
          name: x-monite-entity-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContentRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: Biz logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '416':
          description: Requested Range Not Satisfiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /contents/subject_body_template/{document_type}:
    get:
      tags:
        - Mail
      summary: Get Subject Body Template
      description: Subject_Body Template
      operationId: get_subject_body_template_v1_contents_subject_body_template__document_type__get
      parameters:
        - required: true
          schema:
            $ref: '#/components/schemas/DocumentObjectTypeEnum'
          name: document_type
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: a4e9a453-70f4-48b6-ac83-47350e7b993c
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateContentRequest'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: Biz logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '416':
          description: Requested Range Not Satisfiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /contents/{content_id}:
    get:
      tags:
        - Mail
      summary: Get
      description: Get custom content by ID
      operationId: get_v1_contents__content_id__get
      parameters:
        - required: true
          schema:
            title: Content Id
            type: string
            format: uuid
          name: content_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: a4e9a453-70f4-48b6-ac83-47350e7b993c
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: Biz logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '416':
          description: Requested Range Not Satisfiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    delete:
      tags:
        - Mail
      summary: Delete
      description: Delete custom content by ID
      operationId: delete_v1_contents__content_id__delete
      parameters:
        - required: true
          schema:
            title: Content Id
            type: string
            format: uuid
          name: content_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: a4e9a453-70f4-48b6-ac83-47350e7b993c
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: Biz logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '416':
          description: Requested Range Not Satisfiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    patch:
      tags:
        - Mail
      summary: Update
      description: Update custom content by ID
      operationId: update_v1_contents__content_id__patch
      parameters:
        - required: true
          schema:
            title: Content Id
            type: string
            format: uuid
          name: content_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: a4e9a453-70f4-48b6-ac83-47350e7b993c
          name: x-monite-entity-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContentRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: Biz logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '416':
          description: Requested Range Not Satisfiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /counterparts:
    get:
      tags:
        - Receivables
      summary: Get Counterparts
      operationId: get_counterparts_v1_counterparts_get
      parameters:
        - description: The IBAN of the entity’s bank account.
          required: false
          schema:
            title: Iban
            maxLength: 34
            type: string
            description: The IBAN of the entity’s bank account.
          name: iban
          in: query
        - description: Order by
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/OrderEnum'
            description: Order by
            default: asc
          name: order
          in: query
        - description: Max is 100
          required: false
          schema:
            title: Limit
            maximum: 100
            minimum: 1
            type: integer
            description: Max is 100
            default: 100
          name: limit
          in: query
        - description: A token, obtained from previous page. Prior over other filters
          required: false
          schema:
            title: Pagination Token
            type: string
            description: A token, obtained from previous page. Prior over other filters
          name: pagination_token
          in: query
        - description: Allowed sort fields
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/api__v1__counterparts__pagination__CursorFields'
            description: Allowed sort fields
          name: sort
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/CounterpartType'
          name: type
          in: query
        - required: false
          schema:
            title: Counterpart Name
            type: string
          name: counterpart_name
          in: query
        - required: false
          schema:
            title: Counterpart Name  Contains
            type: string
          name: counterpart_name__contains
          in: query
        - required: false
          schema:
            title: Counterpart Name  Icontains
            type: string
          name: counterpart_name__icontains
          in: query
        - required: false
          schema:
            title: Is Vendor
            type: boolean
          name: is_vendor
          in: query
        - required: false
          schema:
            title: Is Customer
            type: boolean
          name: is_customer
          in: query
        - required: false
          schema:
            title: Email
            type: string
          name: email
          in: query
        - required: false
          schema:
            title: Email  Contains
            type: string
          name: email__contains
          in: query
        - required: false
          schema:
            title: Email  Icontains
            type: string
          name: email__icontains
          in: query
        - required: false
          schema:
            title: Created At
            type: string
            format: date-time
          name: created_at
          in: query
        - required: false
          schema:
            title: Created At  Gt
            type: string
            format: date-time
          name: created_at__gt
          in: query
        - required: false
          schema:
            title: Created At  Lt
            type: string
            format: date-time
          name: created_at__lt
          in: query
        - required: false
          schema:
            title: Created At  Gte
            type: string
            format: date-time
          name: created_at__gte
          in: query
        - required: false
          schema:
            title: Created At  Lte
            type: string
            format: date-time
          name: created_at__lte
          in: query
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CounterpartPaginationResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    post:
      tags:
        - Receivables
      summary: Create New Counterpart
      operationId: create_new_counterpart_v1_counterparts_post
      parameters:
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CounterpartCreatePayload'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CounterpartResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: Biz logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '416':
          description: Requested Range Not Satisfiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /counterparts/{counterpart_id}:
    get:
      tags:
        - Receivables
      summary: Get Counterpart By Id
      operationId: get_counterpart_by_id_v1_counterparts__counterpart_id__get
      parameters:
        - required: true
          schema:
            title: Counterpart Id
            type: string
            format: uuid
          name: counterpart_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CounterpartResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    delete:
      tags:
        - Receivables
      summary: Delete Counterpart By Id
      operationId: delete_counterpart_by_id_v1_counterparts__counterpart_id__delete
      parameters:
        - required: true
          schema:
            title: Counterpart Id
            type: string
            format: uuid
          name: counterpart_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '204':
          description: Successful Response
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    patch:
      tags:
        - Receivables
      summary: Update Counterpart
      operationId: update_counterpart_v1_counterparts__counterpart_id__patch
      parameters:
        - required: true
          schema:
            title: Counterpart Id
            type: string
            format: uuid
          name: counterpart_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CounterpartUpdatePayload'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CounterpartResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /counterparts/{counterpart_id}/bank_accounts:
    get:
      tags:
        - Receivables
      summary: Get Counterparts Bank Accounts
      operationId: get_counterparts_bank_accounts_v1_counterparts__counterpart_id__bank_accounts_get
      parameters:
        - required: true
          schema:
            title: Counterpart Id
            type: string
            format: uuid
          name: counterpart_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Counterparts Bank Accounts V1 Counterparts  Counterpart Id  Bank Accounts Get
                type: array
                items:
                  $ref: '#/components/schemas/CounterpartBankAccountResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '409':
          description: Biz logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '416':
          description: Requested Range Not Satisfiable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    post:
      tags:
        - Receivables
      summary: Create Counterparts Bank Account
      operationId: create_counterparts_bank_account_v1_counterparts__counterpart_id__bank_accounts_post
      parameters:
        - required: true
          schema:
            title: Counterpart Id
            type: string
            format: uuid
          name: counterpart_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CounterpartBankAccount'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CounterpartBankAccountResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
  /counterparts/{counterpart_id}/bank_accounts/{bank_account_id}:
    get:
      tags:
        - Receivables
      summary: Get Counterparts Bank Accounts By Id
      operationId: get_counterparts_bank_accounts_by_id_v1_counterparts__counterpart_id__bank_accounts__bank_account_id__get
      parameters:
        - required: true
          schema:
            title: Counterpart Id
            type: string
            format: uuid
          name: counterpart_id
          in: path
        - required: true
          schema:
            title: Bank Account Id
            type: string
            format: uuid
          name: bank_account_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CounterpartBankAccountResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
      security:
        - HTTPBearer: []
    delete:
      tags:
        - Receivables
      summary: Delete Counterpart Bank Account By Id
      operationId: delete_counterpart_bank_account_by_id_v1_counterparts__counterpart_id__bank_accounts__bank_account_id__delete
      parameters:
        - required: true
          schema:
            title: Counterpart Id
            type: string
            format: uuid
          name: counterpart_id
          in: path
        - required: true
          schema:
            title: Bank Account Id
            type: string
            format: uuid
          name: bank_account_id
          in: path
        - description: monite entity_id
          required: true
          schema:
            title: X-Monite-Entity-Id
            type: string
            description: monite entity_id
            format: uuid
          example: 9d2b4c8f-2087-4738-ba91-7359683c49a4
          name: x-monite-entity-id
          in: header
      responses:
        '204':
          description: Successful Response
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchemaResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
[...]
